<li class="loggedout-nav-li">
  <div class="login-div">
    <h3 class="login-header">LOGIN</h3>
    <form action="post" method="/users/login">
       <ul class="login-ul">

         <li class="login-li">
           <div class="form-group">
             <input type="text" placeholder="email" name="user[email]">
           </div>
         </li>

         <li class="login-li">
           <div class="form-group">
             <input type="password" placeholder="password" name="user[password]">
           </div>
         </li>

         <li class="login-li login-button">
           <input type="submit" value="login">
         </li>
       </ul>
     </form>
  </div>
</li>
