<li class="loggedout-nav-li">
  <div class="register-div">
       <h3 class="register-header">REGISTER</h3>
       <form action="/users" method="post">
         <ul class="register-ul">
           <li class="register-li">
             <div class="form-group">
               <input type="text" placeholder="username" name="user[username]">
             </div>
          </li>

           <li class="register-li">
             <div class="form-group">
               <input type="text" name="user[email]"  placeholder="email">
             </div>
          </li>

           <li class="register-li">
             <div class="form-group">
               <input type="password" placeholder="password" name="user[password]">
             </div>
          </li>

           <li class="register-li register-button">
             <input type="submit" value="register">
           </li>
         </ul>
       </form>
     </div>
</li>
