// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
  margin: auto;
  width: 550px;
  padding: 10px;
}

.noSets {
  display: block;
  margin: auto;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}


a {
  text-decoration: none;
  color: white;
}
